In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=85b41b302d0dc0c12083abaa6117c7b4ba7e9defa0a77ba74d26f50118e936c0
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, BooleanType

## Задача 1
Написать spark приложение, которое в локальном режиме выполняет следующее:
По имеющимся данным о рейтингах книг посчитать агрегированную статистику по ним.

1. Прочитать csv файл: book.csv
2. Вывести схему для dataframe полученного из п.1
3. Вывести количество записей
4. Вывести информацию по книгам у которых рейтинг выше 4.50
5. Вывести средний рейтинг для всех книг.
6. Вывести агрегированную инфорацию по количеству книг в диапазонах:
0 - 1
1 - 2
2 - 3
3 - 4
4 - 5

In [3]:
spark = SparkSession.builder.appName("pyspark-simple-app").getOrCreate()
spark

In [5]:
# Прочитать csv файл: book.csv

df = spark.read.options(header=True, inferSchema=True).csv("/content/source/books.csv")

In [6]:
df.show(truncate=False)

+------+------------------------------------------------------------------------------------------------------------+--------------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+-------------------------+
|bookID|title                                                                                                       |authors                   |average_rating|isbn      |isbn13       |language_code|  num_pages|ratings_count|text_reviews_count|publication_date|publisher                |
+------+------------------------------------------------------------------------------------------------------------+--------------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+-------------------------+
|1     |Harry Potter and the Half-Blood Prince (Harry Potter  #6)                                                   |J.K. Rowling/Mary GrandPré|4.57          |0439785960|9780439785969|eng          |652        |2095690      |27591             |9/16/2006       |Scholastic Inc.          |
|2     |Harry Potter and the Order of the Phoenix (Harry Potter  #5)                                                |J.K. Rowling/Mary GrandPré|4.49          |0439358078|9780439358071|eng          |870        |2153167      |29221             |9/1/2004        |Scholastic Inc.          |
|4     |Harry Potter and the Chamber of Secrets (Harry Potter  #2)                                                  |J.K. Rowling              |4.42          |0439554896|9780439554893|eng          |352        |6333         |244               |11/1/2003       |Scholastic               |
|5     |Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)                                                 |J.K. Rowling/Mary GrandPré|4.56          |043965548X|9780439655484|eng          |435        |2339585      |36325             |5/1/2004        |Scholastic Inc.          |
|8     |Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)                                                      |J.K. Rowling/Mary GrandPré|4.78          |0439682584|9780439682589|eng          |2690       |41428        |164               |9/13/2004       |Scholastic               |
|9     |Unauthorized Harry Potter Book Seven News: "Half-Blood Prince" Analysis and Speculation                     |W. Frederick Zimmerman    |3.74          |0976540606|9780976540601|en-US        |152        |19           |1                 |4/26/2005       |Nimble Books             |
|10    |Harry Potter Collection (Harry Potter  #1-6)                                                                |J.K. Rowling              |4.73          |0439827604|9780439827607|eng          |3342       |28242        |808               |9/12/2005       |Scholastic               |
|12    |The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story (Hitchhiker's Guide to the Galaxy  #1-5)|Douglas Adams             |4.38          |0517226952|9780517226957|eng          |815        |3628         |254               |11/1/2005       |Gramercy Books           |
|13    |The Ultimate Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy  #1-5)                      |Douglas Adams             |4.38          |0345453743|9780345453747|eng          |815        |249558       |4080              |4/30/2002       |Del Rey Books            |
|14    |The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy  #1)                                 |Douglas Adams             |4.22          |1400052920|9781400052929|eng          |215        |4930         |460               |8/3/2004        |Crown                    |
|16    |The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy  #1)                                 |Douglas Adams/Stephen Fry |4.22          |0739322206|9780739322208|eng          |6          |1266         |253               |3/23/2005       |Random House Audio       |
|18    |The Ultimate Hitchhiker's Guide (Hitchhiker's Guide to the Galaxy  #1-5)                                    |Douglas Adams             |4.38          |0517149257|9780517149256|eng          |815        |2877         |195               |1/17/1996       |Wings Books              |
|21    |A Short History of Nearly Everything                                                                        |Bill Bryson               |4.21          |076790818X|9780767908184|eng          |544        |248558       |9396              |9/14/2004       |Broadway Books           |
|22    |Bill Bryson's African Diary                                                                                 |Bill Bryson               |3.44          |0767915062|9780767915069|eng          |55         |7270         |499               |12/3/2002       |Broadway Books           |
|23    |Bryson's Dictionary of Troublesome Words: A Writer's Guide to Getting It Right                              |Bill Bryson               |3.87          |0767910435|9780767910439|eng          |256        |2088         |131               |9/14/2004       |Broadway Books           |
|24    |In a Sunburned Country                                                                                      |Bill Bryson               |4.07          |0767903862|9780767903868|eng          |335        |72451        |4245              |5/15/2001       |Broadway Books           |
|25    |I'm a Stranger Here Myself: Notes on Returning to America After Twenty Years Away                           |Bill Bryson               |3.90          |076790382X|9780767903820|eng          |304        |49240        |2211              |6/28/2000       |Broadway Books           |
|26    |The Lost Continent: Travels in Small Town America                                                           |Bill Bryson               |3.83          |0060920084|9780060920081|eng          |299        |45712        |2257              |8/28/1990       |William Morrow Paperbacks|
|27    |Neither Here nor There: Travels in Europe                                                                   |Bill Bryson               |3.86          |0380713802|9780380713806|eng          |254        |48701        |2238              |3/28/1993       |William Morrow Paperbacks|
|28    |Notes from a Small Island                                                                                   |Bill Bryson               |3.91          |0380727501|9780380727506|eng          |324        |80609        |3301              |5/28/1997       |William Morrow Paperbacks|
+------+------------------------------------------------------------------------------------------------------------+--------------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+-------------------------+
only showing top 20 rows

In [7]:
# Вывести схему для dataframe полученного из п.1

df.printSchema()

root
 |-- bookID: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- authors: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- language_code: string (nullable = true)
 |--   num_pages: string (nullable = true)
 |-- ratings_count: integer (nullable = true)
 |-- text_reviews_count: integer (nullable = true)
 |-- publication_date: string (nullable = true)
 |-- publisher: string (nullable = true)

In [8]:
# Вывести количество записей

df.count()

11127

In [9]:
# Вывести информацию по книгам у которых рейтинг выше 4.50

df.filter(F.col("average_rating") > 4.50).show()

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|           publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|          Scholastic|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|          Scholastic|
|    30|J.R.R. Tolkien 4-...|      J.R.R. Tolkien|          4.59|0345538374|9780345538376|          eng|       1728|       101233|              1550|       9/25/2012|    Ballantine Books|
|    36|The Lord of the R...|Chris   Smith/Chr...|          4.53|0618391002|9780618391004|          eng|        218|        19822|                46|       11/5/2003|Houghton Mifflin ...|
|   119|The Lord of the R...|        Gary Russell|          4.59|0618212906|9780618212903|          eng|        192|        26153|               102|       6/12/2002|Houghton Mifflin ...|
|   313|100 Years of Lync...|      Ralph Ginzburg|          4.61|0933121180|9780933121188|          eng|        270|           88|                 4|      11/22/1996| Black Classic Press|
|   397|The Gettysburg Ad...|Abraham Lincoln/M...|          4.53|0395883970|9780395883976|          eng|         32|         5239|                76|        2/2/1998|HMH Books for You...|
|   866|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.57|142150460X|9781421504605|          eng|        192|         9013|               153|       9/19/2006|       VIZ Media LLC|
|   868|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.56|1591169259|9781591169253|          eng|        192|        16666|               299|       9/13/2005|       VIZ Media LLC|
|   869|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.57|1421504596|9781421504599|          eng|        192|        11451|               161|       7/18/2006|       VIZ Media LLC|
|   871|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.55|1591169291|9781591169291|          eng|        200|        10752|               294|       11/8/2005|       VIZ Media LLC|
|   873|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.52|1591169232|9781591169239|          eng|        192|        14923|               419|        7/5/2005|       VIZ Media LLC|
|   955|The 5 Love Langua...|        Gary Chapman|          4.70|0802415318|9780802415318|          eng|          0|           22|                 4|        1/1/2005|    Moody Publishers|
|  1111|The Power Broker:...|      Robert A. Caro|          4.51|0394720245|9780394720241|          eng|       1344|        11208|              1237|       7/12/1975|             Vintage|
|  1729|Metamorphoses: Vo...|Ovid/Frank Justus...|          4.52|0674990471|9780674990470|          eng|        499|           61|                 4|        1/1/1985|Harvard Universit...|
|  1750|Dionysiac Poetics...|       Charles Segal|          4.62|069101597X|9780691015972|          eng|        440|           12|                 0|      11/16/1997|Princeton Univers...|
|  2005|Harry Potter and ...|        J.K. Rowling|          4.57|0747584664|9780747584667|          eng|        768|         1213|                78|       6/23/2006|Bloomsbury Publis...|
|  2034|Comoediae 1: Acha...|Aristophanes/F.W....|          5.00|0198145047|9780198145042|          grc|        364|            0|                 0|       2/22/1922|Oxford University...|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
only showing top 20 rows

In [10]:
# Вывести средний рейтинг для всех книг.

df.agg(F.avg("average_rating")).show()

+-------------------+
|avg(average_rating)|
+-------------------+
|  3.934075339386829|
+-------------------+

In [11]:
# Вывести агрегированную инфорацию по количеству книг в диапазонах: 0 - 1 1 - 2 2 - 3 3 - 4 4 - 5

output_df = (
  df
  .filter(F.col("average_rating") >= 0)
  .withColumn("rating_group", F.floor(F.col("average_rating").cast('double')))
  .groupBy("rating_group")
  .count()
  .withColumn("0 - 1", F.when((F.col("rating_group") >= 0) & (F.col("rating_group") < 1), F.col("count")))
  .withColumn("1 - 2", F.when((F.col("rating_group") >= 1) & (F.col("rating_group") < 2), F.col("count")))
  .withColumn("2 - 3", F.when((F.col("rating_group") >= 2) & (F.col("rating_group") < 3), F.col("count")))
  .withColumn("3 - 4", F.when((F.col("rating_group") >= 3) & (F.col("rating_group") < 4), F.col("count")))
  .withColumn("4 - 5", F.when((F.col("rating_group") >= 4), F.col("count")))
  .fillna(0)
  .drop("rating_group", "count")
)

output_df = output_df.select([F.sum(c).alias(c) for c in output_df.columns])

output_df.show()

+-----+-----+-----+-----+-----+
|0 - 1|1 - 2|2 - 3|3 - 4|4 - 5|
+-----+-----+-----+-----+-----+
|   25|    3|   56| 6085| 4954|
+-----+-----+-----+-----+-----+


## Задача 2
Написать spark приложение, которое в локальном режиме выполняет следующее:
По имеющимся данным о рейтингах фильмов (MovieLens: 100 000 рейтингов) посчитать агрегированную статистику по ним.

## Описание данных
Имеются следующие входные данные:
Архив с рейтингами фильмов.
Файл REDAME содержит описания файлов.
Файл u.data содержит все оценки, а файл u.item — список всех фильмов. (используются только эти два файла)
id_film=32

1. Прочитать данные файлы.
2. создать выходной файл в формате json, где
Поле `“Toy Story ”` нужно заменить на название фильма, соответствующего id_film и указать для заданного фильма количество поставленных оценок в следующем порядке: `"1", "2", "3", "4", "5"`. То есть сколько было единичек, двоек, троек и т.д.
В поле `“hist_all”` нужно указать то же самое только для всех фильмов общее количество поставленных оценок в том же порядке: `"1", "2", "3", "4", "5"`.

Пример решения:

{
   "Toy Story": [ 
      134,
      123,
      782,
      356,
      148
   ],
   "hist_all": [ 
      134,
      123,
      782,
      356,
      148
   ]
}

In [15]:
from zipfile import ZipFile
ZipFile("/content/source/data.zip").extractall()

In [16]:
schema_u_data = StructType([
  StructField("user_id", StringType(), True),
  StructField("item_id", StringType(), True),
  StructField("rating", IntegerType(), True),
  StructField("timestamp", StringType(), True)
])

df_evaluations = spark.read.load("/content/ml-100k/u.data", format="csv", sep="\t", schema=schema_u_data)
df_evaluations.show(truncate=False)
df_evaluations.printSchema()

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|196    |242    |3     |881250949|
|186    |302    |3     |891717742|
|22     |377    |1     |878887116|
|244    |51     |2     |880606923|
|166    |346    |1     |886397596|
|298    |474    |4     |884182806|
|115    |265    |2     |881171488|
|253    |465    |5     |891628467|
|305    |451    |3     |886324817|
|6      |86     |3     |883603013|
|62     |257    |2     |879372434|
|286    |1014   |5     |879781125|
|200    |222    |5     |876042340|
|210    |40     |3     |891035994|
|224    |29     |3     |888104457|
|303    |785    |3     |879485318|
|122    |387    |5     |879270459|
|194    |274    |2     |879539794|
|291    |1042   |4     |874834944|
|234    |1184   |2     |892079237|
+-------+-------+------+---------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- item_id: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- timestamp: string (nullable = true)

In [17]:
schema_u_item = StructType([
  StructField("movie_id", StringType(), True),
  StructField("movie_title", StringType(), True),
  StructField("release_date", StringType(), True),
  StructField("video_release_date", StringType(), True),
  StructField("IMDb_URL", StringType(), True),
  StructField("unknown", IntegerType(), True),
  StructField("Action", IntegerType(), True),
  StructField("Adventure", IntegerType(), True),
  StructField("Animation", IntegerType(), True),
  StructField("Children's", IntegerType(), True),
  StructField("Comedy", IntegerType(), True),
  StructField("Crime", IntegerType(), True),
  StructField("Documentary", IntegerType(), True),
  StructField("Drama", IntegerType(), True),
  StructField("Fantasy", IntegerType(), True),
  StructField("Film-Noir", IntegerType(), True),
  StructField("Horror", IntegerType(), True),
  StructField("Musical", IntegerType(), True),
  StructField("Mystery", IntegerType(), True),
  StructField("Romance", IntegerType(), True),
  StructField("Sci-Fi", IntegerType(), True),
  StructField("Thriller", IntegerType(), True),
  StructField("War", IntegerType(), True),
  StructField("Western", IntegerType(), True)
])

df_films = spark.read.load("/content/ml-100k/u.item", format="csv", sep="|", schema=schema_u_item)
df_films.show(truncate=False)
df_films.printSchema()

+--------+----------------------------------------------------+------------+------------------+-------------------------------------------------------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie_id|movie_title                                         |release_date|video_release_date|IMDb_URL                                                           |unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+--------+----------------------------------------------------+------------+------------------+-------------------------------------------------------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|1       |Toy Story (1995)                                    |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)              |0      |0     |0        |1        |1         |1     |0    |0          |0    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|2       |GoldenEye (1995)                                    |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?GoldenEye%20(1995)                |0      |1     |1        |0        |0         |0     |0    |0          |0    |0      |0        |0     |0      |0      |0      |0     |1       |0  |0      |
|3       |Four Rooms (1995)                                   |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)             |0      |0     |0        |0        |0         |0     |0    |0          |0    |0      |0        |0     |0      |0      |0      |0     |1       |0  |0      |
|4       |Get Shorty (1995)                                   |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)             |0      |1     |0        |0        |0         |1     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|5       |Copycat (1995)                                      |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Copycat%20(1995)                  |0      |0     |0        |0        |0         |0     |1    |0          |1    |0      |0        |0     |0      |0      |0      |0     |1       |0  |0      |
|6       |Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995 |null              |http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)       |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|7       |Twelve Monkeys (1995)                               |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)         |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |1     |0       |0  |0      |
|8       |Babe (1995)                                         |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Babe%20(1995)                     |0      |0     |0        |0        |1         |1     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|9       |Dead Man Walking (1995)                             |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)     |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|10      |Richard III (1995)                                  |22-Jan-1996 |null              |http://us.imdb.com/M/title-exact?Richard%20III%20(1995)            |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |1  |0      |
|11      |Seven (Se7en) (1995)                                |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Se7en%20(1995)                    |0      |0     |0        |0        |0         |0     |1    |0          |0    |0      |0        |0     |0      |0      |0      |0     |1       |0  |0      |
|12      |Usual Suspects, The (1995)                          |14-Aug-1995 |null              |http://us.imdb.com/M/title-exact?Usual%20Suspects,%20The%20(1995)  |0      |0     |0        |0        |0         |0     |1    |0          |0    |0      |0        |0     |0      |0      |0      |0     |1       |0  |0      |
|13      |Mighty Aphrodite (1995)                             |30-Oct-1995 |null              |http://us.imdb.com/M/title-exact?Mighty%20Aphrodite%20(1995)       |0      |0     |0        |0        |0         |1     |0    |0          |0    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|14      |Postino, Il (1994)                                  |01-Jan-1994 |null              |http://us.imdb.com/M/title-exact?Postino,%20Il%20(1994)            |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |1      |0     |0       |0  |0      |
|15      |Mr. Holland's Opus (1995)                           |29-Jan-1996 |null              |http://us.imdb.com/M/title-exact?Mr.%20Holland's%20Opus%20(1995)   |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|16      |French Twist (Gazon maudit) (1995)                  |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Gazon%20maudit%20(1995)           |0      |0     |0        |0        |0         |1     |0    |0          |0    |0      |0        |0     |0      |0      |1      |0     |0       |0  |0      |
|17      |From Dusk Till Dawn (1996)                          |05-Feb-1996 |null              |http://us.imdb.com/M/title-exact?From%20Dusk%20Till%20Dawn%20(1996)|0      |1     |0        |0        |0         |1     |1    |0          |0    |0      |0        |1     |0      |0      |0      |0     |1       |0  |0      |
|18      |White Balloon, The (1995)                           |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Badkonake%20Sefid%20(1995)        |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|19      |Antonia's Line (1995)                               |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Antonia%20(1995)                  |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |0      |0     |0       |0  |0      |
|20      |Angels and Insects (1995)                           |01-Jan-1995 |null              |http://us.imdb.com/M/title-exact?Angels%20and%20Insects%20(1995)   |0      |0     |0        |0        |0         |0     |0    |0          |1    |0      |0        |0     |0      |0      |1      |0     |0       |0  |0      |
+--------+----------------------------------------------------+------------+------------------+-------------------------------------------------------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

root
 |-- movie_id: string (nullable = true)
 |-- movie_title: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- video_release_date: string (nullable = true)
 |-- IMDb_URL: string (nullable = true)
 |-- unknown: integer (nullable = true)
 |-- Action: integer (nullable = true)
 |-- Adventure: integer (nullable = true)
 |-- Animation: integer (nullable = true)
 |-- Children's: integer (nullable = true)
 |-- Comedy: integer (nullable = true)
 |-- Crime: integer (nullable = true)
 |-- Documentary: integer (nullable = true)
 |-- Drama: integer (nullable = true)
 |-- Fantasy: integer (nullable = true)
 |-- Film-Noir: integer (nullable = true)
 |-- Horror: integer (nullable = true)
 |-- Musical: integer (nullable = true)
 |-- Mystery: integer (nullable = true)
 |-- Romance: integer (nullable = true)
 |-- Sci-Fi: integer (nullable = true)
 |-- Thriller: integer (nullable = true)
 |-- War: integer (nullable = true)
 |-- Western: integer (nullable = true)

In [18]:
"""
Cоздать выходной файл в формате json, где Поле “Toy Story ” нужно заменить на название фильма, соответствующего id_film и
указать для заданного фильма количество поставленных оценок в следующем порядке: "1", "2", "3", "4", "5". То есть сколько 
было единичек, двоек, троек и т.д. 
"""

df_film = df_films.filter(F.col("movie_title").like("Toy Story%"))

col_join = [df_evaluations["item_id"] == df_film["movie_id"]]

df_one_film = (
  df_evaluations
    .join(df_film, col_join)
    .groupBy("rating")
    .count()
    .orderBy("rating")
    .withColumn("index", F.lit(1))
    .groupBy("index")
    .agg(
      F.collect_list("count").alias("Toy Story"))
)

In [19]:
# В поле “hist_all” нужно указать то же самое только для всех фильмов общее количество поставленных оценок в том же порядке: "1", "2", "3", "4", "5".

df_all_films = (
  df_evaluations
    .groupBy("rating")
    .count()
    .orderBy("rating")
    .withColumn("index", F.lit(1))
    .groupBy("index")
    .agg(
      F.collect_list("count").alias("hist_all"))
)

In [20]:
df_output = (
  df_one_film
    .join(df_all_films, "index")
    .drop("index")
)

In [21]:
(df_output
  .write
  .format("json")
  .mode("overwrite")
  .save("/content/output")
)

![image.png]()

In [22]:
spark.stop()